.logos-container {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-awb {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.logo-ale {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.logo-react {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.plus {
  font-size: 50px; 
  margin-right: 10px;
  color: white;
}
.switch-container {
  position: absolute;
  top: 20px;
  right: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./imagenes/moon.png');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 90%;
  transition: .4s;
  border-radius: 40px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-image: url('./imagenes/sun.png');
  background-position: 10%;
}
input:checked + .slider:before {
  transform: translateX(39px);
}
.light-theme .slider {
  background-color: #ccc;
}
.light-theme input:checked + .slider {
  background-color: #2196F3;
}
.light-theme input:checked + .slider:before {
  background-color: white;
}
.dark-theme .slider {
  background-color: #3c3c3c;
}
.dark-theme input:checked + .slider {
  background-color: #2196F3;
}
.dark-theme input:checked + .slider:before {
  background-color: white;
}
.dark-theme {
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.dark-theme .contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}
.dark-theme .fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-theme {
  height: 100vh;
  padding-top: 10px;
  background-color: #008781;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.light-theme .contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}
.light-theme .fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}